* {
  cursor: none;
}

.cursor {
  background-color: #111;
  z-index: 10000;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  /* CSS untuk tampilan dengan lebar layar maksimal 600px (umumnya smartphone) */
  .cursor {
    display: none;
  }
  /* aturan lain yang ingin diterapkan pada layar kecil */
}
