@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #121212;
  font-family: 'HelveticaRG', sans-serif;
  background-color:  #F6F6F6;
}

body::-webkit-scrollbar{
  width: 0;
  scroll-behavior: smooth;
}

@font-face{
  font-family: 'SFUIText';
  src: url(./assets/font/SFUIText-Light.otf) format('opentype');
  font-style: normal;
}
@font-face{
  font-family: 'HelveticaBold';
  src: url(./assets//font/HelveticaNowDisplay-Bold.ttf) format('opentype');
  font-style: normal;
}
@font-face{
  font-family: 'HelveticaMd';
  src: url(./assets//font/HelveticaNowDisplay-Medium.ttf) format('opentype');
  font-style: normal;
}
@font-face{
  font-family: 'HelveticaRg';
  src: url(./assets//font/HelveticaNowDisplay-Regular.ttf) format('opentype');
  font-style: normal;
}


.shadow-inset {
  box-shadow: inset 0 1px 1.5px rgba(0, 0, 0, 0.5);
}

.shadow-inset-bottom {
  box-shadow: inset 0 -1px 1.5px rgba(0, 0, 0, 0.5);
}

.bg-color {
  background-color: #F6F6F6;
}

.text-hitam{
  color: #0F0F0F
}



